<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.manrique.daniel.quetantosabes">

    <application
        android:allowBackup="true"
        android:icon="@drawable/mexico"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.manrique.daniel.quetantosabes.SplashScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.manrique.daniel.quetantosabes.MainActivity"
            android:exported="false" />

        <activity
            android:name="com.manrique.daniel.quetantosabes.Question"
            android:exported="false" />

    </application>

</manifest>